<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271115715042-hus51idrseo0eujlhb65s0hel3o53s31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271115715042-hus51idrseo0eujlhb65s0hel3o53s31</string>
	<key>API_KEY</key>
	<string>AIzaSyCD72LNKYV0U_09GEds9iSQy6unvJIT4pU</string>
	<key>GCM_SENDER_ID</key>
	<string>271115715042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grapheFirebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>graphe-firebase-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>graphe-firebase-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271115715042:ios:8b9abee1c78772d07e79bb</string>
</dict>
</plist>